<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980871654886-uqsvrsk78vdrj7gft433sl5ck78h4b5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980871654886-uqsvrsk78vdrj7gft433sl5ck78h4b5c</string>
	<key>API_KEY</key>
	<string>AIzaSyD2I23s_R2H222htVKrfaZXPDd7RoW2IUk</string>
	<key>GCM_SENDER_ID</key>
	<string>980871654886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.face.FitoChat</string>
	<key>PROJECT_ID</key>
	<string>fitochat-71c03</string>
	<key>STORAGE_BUCKET</key>
	<string>fitochat-71c03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980871654886:ios:3f0a8a0eda12a4f8e9ba27</string>
</dict>
</plist>